<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<!-- Menu items from all the restaurants  -->
<div class="container-fluid menu-page">
  <div class="d-flex justify-content-around flex-wrap">
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="images/dish-1.jpg" alt="Some Tasty Dish">
      <div class="card-body">
        <h5 class="card-title">The Indian Rasoi</h5>
        <p class="card-text">This is some tasty dish in this restaurant place your order now and get 50% off.
        </p>
        <a href="/login" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>